@model IEnumerable<MVC.Models.Ciudad>

@{
    ViewBag.Title = "Index";
}

</br>

<h2>Lista de Ciudades</h2>

<p>
    <a href="@Url.Action("AddOrEdit", "Ciudad")" class="btn btn-default"><i class="fa fa-plus"></i>Crear Nuevo</a>
</p>

<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
            <th>Acciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit", "Ciudad", new { id = item.Codigo_Ciudad})" class="btn btn-default"><i class="fa fa-pencil"></i>Modificar</a>
                <a onclick="Delete(@item.Codigo_Ciudad)" class="btn btn-default"><i class="fa fa-trash"></i>Eliminar</a>
            </td>
        </tr>
    }

</table>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations', 'Desea eliminar la ciudad seleccionada ?', function() {
                window.location.href = '@Url.Action("Delete", "Ciudad")/' + id;
            }, null);
        }
    </script>
}
